<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>BSB SupportIt</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <img class="navbar-brand" src="/layout/images/logoBsb.jpg" height="50" width="50" ></img>

  <!-- Links -->
  <ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Cadastros
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Técnicos</a>
        <a class="dropdown-item" href="#">Funcionários</a>
        <a class="dropdown-item" href="#">Clientes</a>
        <a class="dropdown-item" href="#">Clientes Terceirizados</a>
        <a class="dropdown-item" href="#">Materiais</a>
        <a class="dropdown-item" href="#">Contas</a>
        <a class="dropdown-item" href="#">Tipo de Serviço</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nova Rat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pagar/Receber</a>
    </li>
  </ul>
</nav>
<th:block layout:fragment="content"></th:block>
</body>
</html>