<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">

	<form action="" th:action="@{/salvarSubEmpresa}" th:object="${subEmpresa}"
		th:method="POST" method="post">
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}" />
		<h6>Dados do Cliente</h6>
		<hr />
		
		<div class="col-md-4 ">
				<div class="form-group col">
					<label for="sel1">Empresa que presta Serviço:</label> <select
						class="form-control" id="sel1" th:field="*{cliente}">
						<option value="">Selecione</option>
						<option th:each="cliente:${clientes}" th:value="${cliente.id}" th:text="${cliente.razaoSocial}"></option>
					</select>
				</div>
			</div>
		<div class="row">

			<div class="col-md-4">
				<div class="form-group col">
					<label for="razaoSocial">Razão Social:</label> <input
						class="form-control" id="nome" placeholder="Digite a Razão Social"
						name="razaoSocial" th:field="*{razaoSocial}" />
				</div>
			</div>
			<div class="col-md-4">
				<label for="cnpj">Cnpj:</label> <input class="form-control"
					th:field="*{cnpj}" id="cnpj" name="cnpj" type="text"
					placeholder="Digite o cnpj" />
			</div>
		</div>
		<hr />
		<h6>Responsável</h6>
		<hr />

		<div class="col-md-4">
			<label for="resp">Responsável:</label> <input class="form-control"
				th:field="*{responsavel}" id="resp" name="resp" type="text"
				placeholder="Digite o Responsável" />
		</div>

		<h6>Endereço</h6>
		<hr />
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="rua">Rua/Av:</label> <input id="rua"
						class="form-control" placeholder="Digite o nome da Rua"
						th:field="*{endereco.rua}" />
				</div>
			</div>
			<div class="col-md-4">
				<label for="comp">Complemento:</label> <input id="comp"
					class="form-control" placeholder="Digite o complemento"
					th:field="*{endereco.complemento}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group col">
					<label for="rua">Cidade:</label> <input id="cidade"
						class="form-control" placeholder="Digite a cidade"
						th:field="*{endereco.cidade}" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group col">
					<label for="rua">Estado:</label> <input id="estado"
						class="form-control" placeholder="Digite o estado"
						th:field="*{endereco.estado}" />
				</div>
			</div>
			<div class="col-md-2">
				<label for="rua">Bairro:</label> <input id="bairro"
					class="form-control" placeholder="Digite o bairro"
					th:field="*{endereco.bairro}" />
			</div>
			<div class="col-md-2">
				<label for="rua">Cep:</label> <input id="cep" class="form-control"
					placeholder="Digite o cep" th:field="*{endereco.cep}" />
			</div>
		</div>
		<button type="submit" class="btn btn-success">Salvar</button>
	<script>
	$(document).ready(function(){
		var inputCnpj = $('#cnpj');
		inputCnpj.mask('00.000.000/0000-00');
	});
	
	</script>
	</form>
</th:block>
</html>