<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">
	<form action="" th:action="@{/salvarRat}" th:object="${rat}"
		th:method="POST" method="post">
		<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
		<h6>Dados do Chamado</h6>
		<hr />
		<div class="row">
		
		<div class="col-md-4 ">
				<div class="form-group col">
					<label for="sel1">Tecnico Responsável:</label> <select
						class="form-control" id="sel1" th:field="*{tecnico.idTecnico}">
						
						<option th:each="tecnico:${tecnicos}" th:value="${tecnico.idTecnico}" th:text="${tecnico.nome}"></option>
					</select>
				</div>
			</div>
		
			<div class="col-md-2">
				<label for="otrs">Nº OTRS:</label> <input class="form-control"
					th:field="*{numOtrs}" id="otrs" name="otrs" type="text"
					 />
			</div>
			<div class="col-md-2">
				<label for="dataChamado">Data do chamado: </label> <input
					th:field="*{dataChamado}" id="dataChamado" class="form-control"
					type="text" data-provide="datepicker" data-date-language="pt-BR" />	
			</div>
		</div>
		<div class="row">
		<div class="col-md-4 ">
				<div class="form-group col">
					<label for="sel1">Cliente:</label> <select
						class="form-control" id="sel1" th:field="*{cliente.id}">
						
						<option th:each="cliente:${clientes}" th:value="${cliente.id}" th:text="${cliente.razaoSocial}"></option>
					</select>
				</div>
			</div>
			
			<div class="col-md-4 ">
				<div class="form-group col">
					<label for="sel1">Tipo de Serviço:</label> <select
						class="form-control" id="sel1" th:field="*{tipoServico.id}">
						
						<option th:each="tipoServico:${tipoServicos}" th:value="${tipoServico.id}" th:text="${tipoServico.nome}"></option>
					</select>
				</div>
			</div>
		
		</div>
		<div class="row">
		<div class="col-md-8">
				<div class="form-group col">
					<label for="descricaoDoAtendimento">Descrição:</label> <input class="form-control"
						id="descricaoDoAtendimento" placeholder="Digite o descrição do chamado" name="descricaoDoAtendimento"
						th:field="*{descricaoDoAtendimento}" />
				</div>
			</div>
		
		</div>
		<h6>Endereço</h6>
		<hr />
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="rua">Rua/Av:</label> <input id="rua"
						class="form-control" placeholder="Digite o nome da Rua"
						th:field="*{endereco.rua}" />
				</div>
			</div>
			<div class="col-md-4">
				<label for="comp">Complemento:</label> <input id="comp"
					class="form-control" placeholder="Digite o complemento"
					th:field="*{endereco.complemento}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group col">
					<label for="rua">Cidade:</label> <input id="cidade"
						class="form-control" placeholder="Digite a cidade"
						th:field="*{endereco.cidade}" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group col">
					<label for="rua">Estado:</label> <input id="estado"
						class="form-control" placeholder="Digite o estado"
						th:field="*{endereco.estado}" />
				</div>
			</div>
			<div class="col-md-2">
				<label for="rua">Bairro:</label> <input id="bairro"
					class="form-control" placeholder="Digite o bairro"
					th:field="*{endereco.bairro}" />
			</div>
			<div class="col-md-2">
				<label for="rua">Cep:</label> <input id="cep" class="form-control"
					placeholder="Digite o cep" th:field="*{endereco.cep}" />
			</div>
		</div>
		
		<button type="submit" class="btn btn-success">Salvar</button>
	</form>

</th:block>
</html>