<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<title>Cadastro de Técnicos</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark"> <!-- Brand/logo -->
	<a class="navbar-brand" href="#"><img src="logoBsb.jpg" alt=""
		height="50" width="50" /></a> <!-- Links -->
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="#">Cadastro de
				Técnicos</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Cadastro de
				Admin</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Gerar OS</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Pagar/Receber</a>
		</li>
	</ul>
	</nav>

	<form action="" th:action="@{/salvarEdicaoSubEmpresa/{id}(id=${subEmpresa.id})}" th:object="${subEmpresa}"
		th:method="PUT" >
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}" />
		<h6>Dados do Cliente</h6>
		<hr />
		
		<div class="col-md-4 ">
				<div class="form-group col">
					<label for="sel1">Empresa que presta Serviço:</label> <select
						class="form-control" id="sel1" th:field="*{cliente}">
						<option value="">Selecione</option>
						<option th:each="cliente:${clientes}" th:value="${cliente.id}" th:text="${cliente.razaoSocial}"></option>
					</select>
				</div>
			</div>
		<div class="row">

			<div class="col-md-4">
				<div class="form-group col">
					<label for="razaoSocial">Razão Social:</label> <input
						class="form-control" id="nome" placeholder="Digite a Razão Social"
						name="razaoSocial" th:field="*{razaoSocial}" />
				</div>
			</div>
			<div class="col-md-4">
				<label for="cnpj">Cnpj:</label> <input class="form-control"
					th:field="*{cnpj}" id="email" name="cnpj" type="text"
					placeholder="Digite o cnpj" />
			</div>
		</div>
		<hr />
		<h6>Responsável</h6>
		<hr />

		<div class="col-md-4">
			<label for="resp">Responsável:</label> <input class="form-control"
				th:field="*{responsavel}" id="resp" name="resp" type="text"
				placeholder="Digite o Responsável" />
		</div>

		<h6>Endereço</h6>
		<hr />
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="rua">Rua/Av:</label> <input id="rua"
						class="form-control" placeholder="Digite o nome da Rua"
						th:field="*{endereco.rua}" />
				</div>
			</div>
			<div class="col-md-4">
				<label for="comp">Complemento:</label> <input id="comp"
					class="form-control" placeholder="Digite o complemento"
					th:field="*{endereco.complemento}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group col">
					<label for="rua">Cidade:</label> <input id="cidade"
						class="form-control" placeholder="Digite a cidade"
						th:field="*{endereco.cidade}" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group col">
					<label for="rua">Estado:</label> <input id="estado"
						class="form-control" placeholder="Digite o estado"
						th:field="*{endereco.estado}" />
				</div>
			</div>
			<div class="col-md-2">
				<label for="rua">Bairro:</label> <input id="bairro"
					class="form-control" placeholder="Digite o bairro"
					th:field="*{endereco.bairro}" />
			</div>
			<div class="col-md-2">
				<label for="rua">Cep:</label> <input id="cep" class="form-control"
					placeholder="Digite o cep" th:field="*{endereco.cep}" />
			</div>
		</div>

		<button type="submit" class="btn btn-success">Salvar</button>
	</form>

</body>
</html>