<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">
	
	<form th:action="@{/salvarEdicao/{id}(id=${tecnico.idTecnico})}" th:object="${tecnico}" th:method="put" >
		<h6>Dados do Técnico</h6>
		<hr />
		<div class="row">

			<div class="col-md-4">
				<div class="form-group col">
					<label for="nome">Nome:</label> 
					<input class="form-control"
						id="nome" placeholder="Digite o nome do Técnico" name="nome" th:field="*{nome}" />
				</div>
			</div>
			<div class="col-md-4">
				<label for="email">E-mail:</label> <input class="form-control" th:field="*{email}"
					id="email" name="email" type="email"
					placeholder="Digite um e-mail válido Ex: aaa@aaaa.com.br" />
			</div>
		</div>
		<script>
			$(document).ready(function() {
				$('#selTipoDoc').change(function() {
					var varURL = $("option:selected", this).val();
					var mascara = "";
					$("#exibeValor").html('O valor selecionado é: ' + varURL);
					inputCpnjCpfRg = $('#numDoc');
					inputCpnjCpfRg.val('');

					if (varURL === 'CPF') {
						mascara = "000.000.000-00";
						inputCpnjCpfRg.mask(mascara);

					} else if (varURL === 'CNPJ') {
						mascara = "00.000.000/0000-00";
						inputCpnjCpfRg.mask(mascara);

					} else {
						mascara = "";
						inputCpnjCpfRg.unmask();
					}

				});
			});
		</script>
		
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="sel1">Documento:</label> 
					<select class="form-control"
						id="selTipoDoc" th:field="*{tipoDoc}" >
						<option value="RG" th:value="RG">RG</option>
						<option value="CPF" th:value="CPF">CPF</option>
						<option value="CNPJ" th:value="CNPJ">CNPJ</option>
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<label for="numDoc">Nº Documento:</label> <input id="numDoc" th:field="*{numDoc}"
					class="form-control" placeholder="Número do documento" />
			</div>
			<div class="col-md-2">
				<label for="dataNasc">Data de Nascimento: </label> <input th:field="*{dataNasc}"
					id="dataNasc" class="form-control" type="text" placeholder="Ex:10/10/2000" />
			</div>

		</div>
		<div class="row">

			<div class="col-md-4 ">
				<div class="form-group col">
					<label for="sel1">Tipo de prestação de Serviço:</label> <select
						class="form-control" id="sel1" th:field="*{tipoPessoa}">
						<option value="PF" th:value="PF">Pessoa Fisica</option>
						<option value="PJ" th:value="PJ">Pessoa Juridica</option>
					</select>
				</div>
			</div>
		</div>
	
	<hr />
	<h6>Contato</h6>
	<hr />
	
		<div class="row" th:each="telefone, stat : ${tecnico.telefone}" >
			<div class="col-md-4">
				<div class="form-group col-md-8">
					<label for="sel1">Telefone:</label> <select class="form-control"
						id="sel1" th:field="*{telefone[__${stat.index}__].tipo}">
						<option value="Celular" th:value="Celular">Celular</option>
						<option value="Residencial" th:value="Residencial">Residencial</option>
						<option value="Comercial" th:value="Comercial">Comercial</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<label for=tel1>Numero Telefone:</label> <input id="tel1"
					type="text" placeholder="Digite um  número de telefone válido"
					class="form-control js-phone-number"  th:field="*{telefone[__${stat.index}__].numero}"/>
			</div>
		</div>
		
		<h6>Endereço</h6>
		<hr />
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="rua">Rua/Av:</label> <input id="rua"
						class="form-control" placeholder="Digite o nome da Rua" th:field="*{endereco.rua}"/>
				</div>
			</div>
			<div class="col-md-4">
				<label for="comp">Complemento:</label> <input id="comp"
					class="form-control" placeholder="Digite o complemento" th:field="*{endereco.complemento}"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group col">
					<label for="rua">Cidade:</label> <input id="cidade"
						class="form-control" placeholder="Digite a cidade" th:field="*{endereco.cidade}"/>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group col">
					<label for="rua">Estado:</label> <input id="estado"
						class="form-control" placeholder="Digite o estado" th:field="*{endereco.estado}"/>
				</div>
			</div>
			<div class="col-md-2">
				<label for="rua">Bairro:</label> <input id="bairro" class="form-control"
					placeholder="Digite o bairro" th:field="*{endereco.bairro}"/>
			</div>
			<div class="col-md-2">
				<label for="rua">Cep:</label> <input id="cep" class="form-control"
					placeholder="Digite o cep" th:field="*{endereco.cep}"/>
			</div>
		</div>
	<h6>Dados Bancários</h6>
	<hr />
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="sel1">Banco:</label> <select class="form-control"
						id="sel1" th:field="*{dadosBancarios.banco}">
						<option value="Itau" th:value="Itau">Itaú</option>
						<option value="Santander" th:value="Santander">Santander</option>
						<option value="Caixa Economica" th:value="CaixaEconomica">Caixa Economica</option>
						<option value="Banco do Brasil" th:value="BancodoBrasil">Banco do Brasil</option>
						<option value="Banco Inter" th:value="BancoInter">Banco inter</option>
						<option value="Bradesco" th:value="Bradesco">Bradesco</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="sel1">Tipo da Conta:</label> <select
						class="form-control" id="sel1" th:field="*{dadosBancarios.tipoConta}" >
						<option value="Corrente" th:value="Corrente">Corrente</option>
						<option value="Salario" th:value="Salario">Salário</option>
						<option value="Poupanca" th:value="Poupanca">Poupança</option>
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<label for="agencia">Agência:</label> <input id="agencia" type="text"
					placeholder="Agencia" class="form-control" th:field="*{dadosBancarios.agencia}"/>
			</div>
			<div class="col-md-2">
				<label for="conta">Conta:</label> <input id="conta" type="text"
					placeholder="Conta" class="form-control" th:field="*{dadosBancarios.conta}"/>
			</div>
			<div class="col-md-2">
				<label for="conta">Operação:</label> <input id="conta" type="text"
					placeholder="Conta" class="form-control" th:field="*{dadosBancarios.operacao}"/>
			</div>
		</div>
	<div class="col-md-4">
			<label for="login">Login:</label> <input id="login" type="text"
				placeholder="Login" class="form-control" th:field="*{userName}" />
		</div>
		<div class="col-md-4">
			<label for="senha">Senha:</label> <input id="senha" type="password"
				placeholder="Senha" class="form-control" th:field="*{password}" />
		</div>
		</div>
	<div class="row">
		<div class="col">
			<div class="form-group col-md-8">
				<label for="comment">Observações:</label>
				<textarea class="form-control" rows="5" id="comment" th:field="*{observacoes}"></textarea>
			</div>
		</div>
	</div>
<button type="submit" class="btn btn-success">Salvar</button>
</form>

</th:block>
</html>