<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">
	<form action=""
		th:action="@{/salvarEdicaoTipoServico/{id}(id=${tipoServico.id})}"
		th:object="${tipoServico}" th:method="PUT" method="post">
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}" />
		<h6>Dados do Tipo de Servicço</h6>
		<hr />
		<div class="row">

			<div class="col-md-4">
				<div class="form-group col">
					<label for="nome">Nome:</label> <input class="form-control"
						id="nome" placeholder="Digite o nome do Tipo de Serviço"
						name="nome" th:field="*{nome}" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="descricao">Descrição:</label> <input
					class="form-control" th:field="*{descricao}" id="*{descricao}"
					name="*{descricao}" type="text" placeholder="Digite a descricão" />
			</div>
		</div>

		<button type="submit" class="btn btn-success">Salvar</button>
	</form>

</th:block>
</html>