<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">
	<form action=""
		th:action="@{/salvarEdicaoFuncionario/{id}(id=${funcionario.idFunc})}"
		th:object="${funcionario}" th:method="PUT">
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}" />
		<h6>Dados do Funcionário</h6>
		<hr />
		<div class="row">

			<div class="col-md-4">
				<div class="form-group col">
					<label for="nome">Nome:</label> <input class="form-control"
						id="nome" placeholder="Digite o nome do Funcionário" name="nome"
						th:field="*{nome}" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="sel1">Setor:</label> <select class="form-control"
						id="sel1" th:field="*{setor.nome}">
						<option value="ADM" th:value="ADM">Administrativo</option>
						<option value="FIN" th:value="FIN">Financeiro</option>
						<option value="GER" th:value="GER">Gerencia</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="sel1">Função:</label> <select class="form-control"
						id="sel1" th:field="*{funcao.nome}">
						<option value="AuxAdministrativo" th:value="auxAdministrativo">Auxiliar
							Administrativo</option>
						<option value="Gerente" th:value="gerente">Gerente</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="login">Login:</label> <input class="form-control"
						id="login" placeholder="Digite o login de acesso do Funcionário"
						name="username" th:field="*{username}" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group col">
					<label for="senha">Senha:</label> <input class="form-control"
						id="senha" placeholder="Digite a senha de acesso do Funcionário"
						name="senha" th:field="*{password}" />
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-success">Salvar</button>
	</form>
</th:block>
</html>