<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">

	<form action="" th:action="@{/salvarEdicaoConta/{id}(id=${conta.id})}"
		th:object="${conta}" th:method="PUT">
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}" />
		<h6>Dados do Material</h6>
		<hr />
		<div class="row">
			<div class="col-md-4">
				<label for="nome">Nome:</label> <input class="form-control"
					id="nome" placeholder="Digite o nome do Material" name="nome"
					th:field="*{nome}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="descricao">Descrição:</label> <input
					class="form-control" th:field="*{descricao}" id="descricao"
					name="descricao" type="text" placeholder="Digite a Descrição" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="valor">Valor:</label> <input class="form-control"
					th:field="*{valor}" id="valor" name="valor" type="text"
					placeholder="Digite o valor" data-thousands="." data-decimal="," data-prefix="R$ " />
			</div>
		</div>
		<script>
  $(function() {
    $('#valor').maskMoney();
  })
  
</script>
		<button type="submit" class="btn btn-success">Salvar</button>
	</form>

</th:block>
</html>