<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">
	<form action=""
		th:action="@{/salvarEdicaoMaterial/{id}(id=${material.id})}"
		th:object="${material}" th:method="PUT">
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}" />
		<h6>Dados do Material</h6>
		<hr />
		<div class="row">

			<div class="col-md-4">
				<div class="form-group col">
					<label for="nome">Nome:</label> <input class="form-control"
						id="nome" placeholder="Digite o nome do Material" name="nome"
						th:field="*{nome}" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="valor">Valor de Compra:</label> <input
						class="form-control" th:field="*{valorDeCompra}" id="valor"
						name="valorDeCompra" type="text" placeholder="Digite o valor"
						data-thousands="." data-decimal="," data-prefix="R$ " />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="valorDeRevenda">Valor de revenda:</label> <input
						class="form-control" th:field="*{valorDeRevenda}"
						id="valorRevenda" name="valorDeRevenda" type="text"
						placeholder="Digite o valor" data-thousands="." data-decimal=","
						data-prefix="R$ " />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group col">
					<label for="sel1">Tipo Unidade:</label> <select
						class="form-control" id="sel1" th:field="*{tipoUn}">
						<option value="UN" th:value="UN">Unidade</option>
						<option value="CX" th:value="CX">Caixa</option>
						<option value="MT" th:value="MT">Metro</option>
					</select>
				</div>
			</div>
		</div>
		<script>
			$(function() {
				$('#valor').maskMoney();
			})
			$(function() {
				$('#valorRevenda').maskMoney();
			})
		</script>
		<button type="submit" class="btn btn-success">Salvar</button>
	</form>

</th:block>
</html>