<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">

	<div class="container">
		<h2>Listagem de Rat</h2>
		<p></p>

		<table class="table">
			<thead>
				<tr>
					<th>Nº Rat</th>
					<th>Nº Otrs</th>
					<th>Data Chamado</th>
					<th>Técnico Responsável</th>
					<th>Tipo Serviço</th>
					<th>Status</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rat : ${rats}">
					<td th:text="${rat.idRat}"></td>
					<td th:text="${rat.numOtrs}"></td>
					<td th:text="${rat.dataChamado}"></td>
					<td th:text="${rat.tecnico.nome}"></td>
					<td th:text="${rat.tipoServico.nome}"></td>
					<td th:text="${rat.observacao}"></td>
					
					<td><a
						class="btn btn-small btn-primary glyphicon glyphicon-pencil"
						th:href="@{/editRat/{idRat}(id=${rat.idRat})}"> Editar </a>
						<a
						class="btn btn-small btn-primary glyphicon glyphicon-pencil"
						th:href="@{/editRat/{idRat}(id=${rat.idRat})}"> Aprovar Rat </a>
						<form th:action="@{/deletarRat/{idRat}(id=${rat.idRat})}"
							th:method="delete" style="display: inline-block;" class="frmDelete">
							<button type="submit"
								class="btn btn-small btn-danger glyphicon glyphicon-trash btnExclusao">Excluir</button>

						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
</html>