<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">

	<div class="container">
		<h2>Lista de Materiais</h2>
		<p></p>

		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Valor de compra</th>
					<th>Valor de revenda</th>
					<th>Tipo Unidade</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="material : ${materiais}">
					<td th:text="${material.nome}"></td>
					<td th:text="${'R$ '+material.valorDeCompra}"></td>
					<td th:text="${'R$ '+material.valorDeRevenda}"></td>
					<td th:text="${material.tipoUn}"></td>
					
					<td><a
						class="btn btn-small btn-primary glyphicon glyphicon-pencil"
						th:href="@{/editMaterial/{id}(id=${material.id})}"> Editar </a>
						<form th:action="@{/deletarMaterial/{id}(id=${material.id})}"
							th:method="delete" style="display: inline-block;" class="frmDelete">
							<button type="submit"
								class="btn btn-small btn-danger glyphicon glyphicon-trash btnExclusao">Excluir</button>

						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
</html>