<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">
	<div class="container">
		<h2>Lista de Contas</h2>
		<p></p>
		
			
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Valor</th>
					<th>Status</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="conta : ${contas}">
					<td th:text="${conta.nome}"></td>
					<td th:text="${conta.descricao}"></td>
					<td th:text="${'R$ '+conta.valor}"></td>
					<td th:text="${conta.pago eq true?'Pago':'A Pagar'}"></td>
					<td><a
						class="btn btn-small btn-primary glyphicon glyphicon-pencil"
						th:href="@{/editConta/{id}(id=${conta.id})}"> Editar </a>
						<form th:action="@{/deletarConta/{id}(id=${conta.id})}"
							th:method="delete" style="display: inline-block;" 
							class="frmDelete">
							<button 
								class="btn btn-small btn-danger glyphicon glyphicon-trash btnExclusao"
								>Excluir
								
								<i class="glyphicon glyphicon-remove"></i>
								</button>


						</form></td>
				</tr>

			</tbody>
		</table>
	</div>
</th:block>
</html>