<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<th:block layout:fragment="conteudo">

	<div class="container">
		<h2>Listagem de Clientes</h2>
		<p></p>

		<table class="table">
			<thead>
				<tr>
					<th>Razão Social</th>
					<th>Responsável</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.razaoSocial}"></td>
					<td th:text="${cliente.responsavel}"></td>
					<td><a
						class="btn btn-small btn-primary glyphicon glyphicon-pencil"
						th:href="@{/editCliente/{id}(id=${cliente.id})}"> Editar </a>
						<form th:action="@{/deletarCliente/{id}(id=${cliente.id})}"
							th:method="delete" style="display: inline-block;" class="frmDelete">
							<button type="submit"
								class="btn btn-small btn-danger glyphicon glyphicon-trash btnExclusao">Excluir</button>

						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
</html>